services:
  postgres:
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo
    logging:
      options:
        max-size: 10m
        max-file: '3'
    ports:
      - '5432:5432'
    volumes:
      - ./out/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d todo']
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
  server:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    ports:
      - '8080:8080'
    env_file:
      - ./apps/server/.env
    working_dir: /app
    depends_on:
      postgres:
        condition: service_healthy

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - ./apps/web/.env
    working_dir: /app
    depends_on:
      postgres:
        condition: service_healthy
